/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #ffffff;
    font-size: 38px;
    text-align: center;

}

/* ESTILO CABEÇALHO */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #686868;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}

header a:hover{
    color: white;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 40px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #ffffff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #ffffff;
    margin: 40px 0px;
}

.btn-contato button:hover{
    box-shadow: 0px 0px rgb(255, 255, 255);
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: animation 15s ease-in-out infinite;
}

@keyframes animation {
    0% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
    25% {
      transform: translateX(-5px) translateY(-5px) rotate(-2deg);
    }
    50% {
      transform: translateX(5px) translateY(-5px) rotate(2deg);
    }
    75% {
      transform: translateX(-5px) translateY(-5px) rotate(-2deg);
    }
    100% {
      transform: translateX(0) translateY(0) rotate(0deg);
    }
  }

  /* ESTILO DAS ESPECIALIDADES */

  section.especialidades{
    padding: 40px 4%;
  }

  section.especialidades .flex{
    gap: 60px;
  }

  .especialidades .especialidades-box{
    color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    text-align: justify;
    margin-top: 45px;
    transition: .5s;
  }

  .especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
  }

  .especialidades .especialidades-box i{
    font-size: 70px;
  }

  .especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0px;
  }

  /* ESTILO DO PORTFOLIO */

  section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.055);
  }

  .img-port{
    width: 360px;
    height: 460px;
    background-color: #463b3b;
    background-size: cover;
    background-position: 100% 0%;
    transition: 3s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
  }

  .img-port:hover{
    background-position: 100% 100%;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.355);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: 800;
    color: #ffffff;
    opacity: 0;
    transition: .5s;
  }

  .overlay:hover{
    opacity: 1;
  }

  section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
  }

  /* RODAPÉ FLUTUANTE */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px 40px;
    display: flex;
    justify-content: flex-end;
}

.redes {
    display: flex;
    flex-direction: column;
}

.redes a {
    margin-bottom: 10px;
}

.redes a{
    color: #686868;
    display: inline-block;
    transition: .5s;
}

.redes a:hover{
    transform: scale(1.20);
}